.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  margin: 0px 1px;
  max-width: 50px;
  max-height: 50px;
  min-width: 10px;

  img {
    width: 80%;
    height: 80%;
  }

  .emptyCell {
    background-color: #444444;
    height: 100%;
    width: 100%;
  }

  span {
    font-size: 50%;
    &:hover {
      cursor: default;
    }
  }
}
